.head {

    &__btn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 17px;
        padding: 15px 25px;
        color: #FFFFFF;
        border-radius: 50px;
        border: 2px solid orange;
        background: none;
    }
}